[submodule "krackattacks-scripts"]
	path = krackattacks-scripts
	url = https://github.com/vanhoefm/krackattacks-scripts.git
[submodule "mininet-wifi"]
	path = mininet-wifi
	url = https://github.com/intrig-unicamp/mininet-wifi
	branch = krack-attack
