[submodule "mininet-wifi"]
	path = mininet-wifi
	url = https://github.com/intrig-unicamp/mininet-wifi
[submodule "krackattacks-scripts"]
	path = krackattacks-scripts
	url = https://github.com/vanhoefm/krackattacks-scripts
[submodule "hostap-wpa_supplicant-2.5"]
	path = hostap-wpa_supplicant-2.5
	url = git://w1.fi/hostap.git
[submodule "hostap-wpa_supplicant-2.3"]
	path = hostap-wpa_supplicant-2.3
	url = git://w1.fi/hostap.git
